body {
    font-size: 16px;
    line-height: 1.5;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
  }

  .message {
    margin-top: 50px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #5ff5;
    font-family: 'Bookman Old Style', serif;
  }