<!DOCTYPE html>
<html>
  <head>
    <title>Hi, Babygirl</title>
    {% load static %}
    <link rel="stylesheet" href="/staticfiles_build/static/styles.css">
    <link rel="apple-touch-icon" sizes="180x180" href="staticfiles_build/static/icon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="staticfiles_build/static/icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="staticfiles_build/static/icon/favicon-16x16.png">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff" href="staticfiles_build/static/icon/favicon.ico">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="heart absolute top-1/4 left-1/4">❤️</div>
    <div class="butterfly absolute top-1/4 right-1/4">🦋</div>
  <!-- Center the content -->
    <div class="container">
    <!-- Add the poem -->
      <div class="poem">
        <p>Roses are red,</p>
        <p>Violets are blue,</p>
        <p>Sugar is sweet,</p>
        <p>And so are you.</p>
      </div>
    </div>
  </body>
</html>